<ul class="list-unstyled">
  <% todos.each do |todo| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(todo.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to todo.user.name, user_path(todo.user) %> <span class="text-muted">posted at <%= todo.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= todo.content %></p>
        </div>
        <div>
          <% if current_user == todo.user %>
            <%= link_to "Delete", todo, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate todos %>
</ul>